* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
svg {
    width: 32px;
}
/* ---HEADER------------------------ */
.header {
    padding-top: 50px;
}
.wrapper {
    text-align: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
}
.header__title {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
}
/* ---MEMES--LIST-------------- */
.memes__list {
    padding-top: 20px;
}
.memes__content {
    border-top: 3px solid #000;
    margin-bottom: 20px;
    overflow: hidden;
    height: 44px;
    cursor: pointer;
}
.memes__content__top {
    display: flex;
    justify-content: space-between;
}
.mems__content__title {
    font-size: 30px;
    margin-bottom: 20px;
}
.mems__content__image {
    
}
.mems__content__image img {
    max-width: 300px;
}